//
//  ReleaseConfig.xcconfig
//  TheWeatherApp
//
//  Created by Oluwakamiye Akindele on 18/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

WEATHER_API_KEY = Gl2hXNtR9DPotbeEF7bPDPj5FuABokPr // Will be removed/deactivated after 10 days
BASE_URL = https:/$()/dataservice.accuweather.com/
